@import url(http://fonts.googleapis.com/css?family=Ubuntu:500&subset=latin,latin-ext);

.fixed {
    position: fixed;
}

/* sidebar */
.bs-docs-sidebar {
    padding-left: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
    color: #999;
    border-left: 2px solid transparent;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}

/* active & hover links */
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>li>a:hover,
.bs-docs-sidebar .nav>li>a:focus {
    color: #1a6ecc;
    text-decoration: none;
    background-color: transparent;
    border-left-color: #1a6ecc;
}
/* all active links */
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a,
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
    display: none;
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
    display: block;
}

#contact-list li .fa,
article .share .btn-ct {
    -o-transition:color .2s ease-out, background 1s ease-in;
  -ms-transition:color .2s ease-out, background 1s ease-in;
  -moz-transition:color .2s ease-out, background 1s ease-in;
  -webkit-transition:color .2s ease-out, background 1s ease-in;
  transition:color .2s ease-out, background 1s ease-in;
}
#contact-list li:hover .fa-twitter,
article .share .twitter:hover {
    color: #00ACEE;
    border-color: #00ACEE;
}
#contact-list li:hover .fa-linkedin {
    color: #1D87BD;
}
#contact-list li:hover .fa-envelope {
    color: #b72020;
}
#contact-list li:hover .ai-researchgate {
    color: #7bb71f;
}
#contact-list li:hover .fa-pinterest {
    color: #CC2127;
}
#contact-list li:hover .fa-rss {
    color: #e74c3c;
}
article .share .facebook:hover {
    color: #43609C;
    border-color: #43609C;
}
article .share .gplus:hover {
    color: #C13929;
    border-color: #C13929;
}


.btn-ct {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn-ct:focus,
.btn-ct:active:focus,
.btn-ct.active:focus,
.btn-ct.focus,
.btn-ct:active.focus,
.btn-ct.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn-ct:hover,
.btn-ct:focus,
.btn-ct.focus {
  color: #333;
  text-decoration: none;
}
.btn-ct:active,
.btn-ct.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn-ct.disabled,
.btn-ct[disabled],
fieldset[disabled] .btn-ct {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
.btn-ct-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-ct-default:hover,
.btn-ct-default:focus,
.btn-ct-default.focus,
.btn-ct-default:active,
.btn-ct-default.active,
.open > .dropdown-toggle.btn-ct-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-ct-default:active,
.btn-ct-default.active,
.open > .dropdown-toggle.btn-ct-default {
  background-image: none;
}
.btn-ct-default.disabled,
.btn-ct-default[disabled],
fieldset[disabled] .btn-ct-default,
.btn-ct-default.disabled:hover,
.btn-ct-default[disabled]:hover,
fieldset[disabled] .btn-ct-default:hover,
.btn-ct-default.disabled:focus,
.btn-ct-default[disabled]:focus,
fieldset[disabled] .btn-ct-default:focus,
.btn-ct-default.disabled.focus,
.btn-ct-default[disabled].focus,
fieldset[disabled] .btn-ct-default.focus,
.btn-ct-default.disabled:active,
.btn-ct-default[disabled]:active,
fieldset[disabled] .btn-ct-default:active,
.btn-ct-default.disabled.active,
.btn-ct-default[disabled].active,
fieldset[disabled] .btn-ct-default.active {
  background-color: #fff;
  border-color: #ccc;
}
.btn-ct-default .badge {
  color: #fff;
  background-color: #333;
}
